
.part-container{
    position: relative;
    /* width: 100%;
    max-width: 500px; */
    border-radius: 10px;
    /* border: 5px solid #8E8E8E; */

}
.part-container::before {
    border-radius: 10px;
    content: '';
    /* background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%); */
    background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
    top: -7px;
    left: -7px;
    bottom: -7px;
    right: -7px;
    position: absolute;
    z-index: -1;
  }